<div class="icon-text-section">
  {% for block in section.blocks %}
    <div class="icon-text-item" {{ block.shopify_attributes }}>
      {% if block.settings.icon_image %}
        <div class="icon-text-item__image">
          <img
            src="{{ block.settings.icon_image | image_url: width: 150 }}"
            width="150"
            height="150"
            alt="icon"
            loading="lazy"
          >
        </div>
      {% endif %}

      <div class="icon-text-item__text">
        {{ block.settings.text }}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Iconos con texto",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "icon_text",
      "name": "Icono con texto",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Imagen del icono"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto",
          "default": "Texto descriptivo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Iconos con texto",
      "blocks": [{ "type": "icon_text" }, { "type": "icon_text" }]
    }
  ]
}
{% endschema %}
