<div class="seccion-prueba">
  <h2 class="seccion-prueba__titulo">
    {{ section.settings.titulo }}
  </h2>
</div>

{% schema %}
{
  "name": "Seccion de prueba",
  "settings": [
    {
      "type": "text",
      "id": "titulo",
      "label": "titulo"
    }
  ]
}
{% endschema %}
