.mi-imagen {
    width: 930px;
    height: 930px;
    display: block;
    margin: 0 auto;
}

/*Seccion Producto destacado custom*/
.btn {
    background-color: red;
}

.titulo {
    background-color: aqua;
}