.mi-imagen {
    width: 930px;
    height: 930px;
    display: block;
    margin: 0 auto;
}

/*Seccion Producto destacado custom*/
.seccion-prueba__titulo {
    background-color: aquamarine;
    margin: 0;
    text-align: center;
}

.btn {
    background-color: red;
}